@charset "UTF-8";
/*  Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.mi-input::-webkit-input-placeholder {
  color: #adb5bd;
}

/* tamaño de fuentes */
.font__cardSmall {
  font-size: 0.8rem;
}

.font__small {
  font-size: 0.625rem !important;
}

.font__medium {
  font-size: 1.125rem !important;
}

.font__normalsmall {
  font-size: 0.875rem;
}

.font__big {
  font-size: 2.375rem;
}

.font_subtitle {
  font-size: 1.25rem;
}

.font__verysmall {
  font-size: 0.75rem;
}

.font__card {
  font-size: 0.938rem;
}

.t-fs-g {
  font-size: 4rem;
}

.quitarcolorenlaces {
  color: transparent;
}

.backgroundmain {
  background-color: #F9F9F9;
}

.bggriscolorterciario {
  background-color: #E2E2E2;
}

.border-circular {
  border-radius: 100%;
}

.colorinput {
  color: #adb5bd;
}

.colorpurpura {
  color: #9e005d;
}

.bgcuponnav {
  background-color: #E7E7E7;
}

.bgmain {
  background-color: #F9F9F9;
}

.bgredsecundary {
  background-color: #F7E7E9;
}

.bgsecundario {
  background-color: #EEEEEE;
}

.bgblue {
  background-color: #00ABD0 !important;
}

.grissecundario {
  color: #6F6F6F;
}

.grissubtitulos {
  color: #787878;
}

.bacgroundsecundario {
  background-color: #EEEEEE;
}

.colorprimary {
  color: #FF0000 !important;
}

.textcolorpurpura {
  color: #A00762;
}

.textcolorverde {
  color: #03A691;
}

.bacgroundpurpura {
  background-color: #A00762 !important;
}

.bgred {
  background-color: #FF0000 !important;
}

.justifytext {
  text-align: justify;
}

.posicion_body {
  position: absolute;
  top: 90%;
}

.border__formulario {
  border-style: dashed;
  border-color: #C2C2C2;
}

.separaciontexto {
  line-height: 1.063rem;
}

.tamañoderadius {
  border: 2px solid #adb5bd !important;
  height: 1.125rem !important;
  width: 1.125rem !important;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: transparent;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slidedos {
  text-align: center;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-1:nth-child(1n) {
  width: 90%;
}

.swiper-1:nth-child(2n) {
  width: 90%;
}

.swiper-1:nth-child(3n) {
  width: 90%;
}

.swiper-2:nth-child(1n) {
  width: 90%;
}

.swiper-2:nth-child(2n) {
  width: 95%;
}

.swiper-2:nth-child(3n) {
  width: 80%;
}

.swiper-3:nth-child(1n) {
  width: 90%;
}

.swiper-3:nth-child(2n) {
  width: 90%;
}

.swiper-3:nth-child(3n) {
  width: 80%;
}

.contvuelo__body_text--title {
  font-size: 1.375rem;
}
@media (min-width: 768px) {
  .contvuelo__body_text--title {
    font-size: 2rem;
  }
}
.contvuelo__body_text--text {
  font-size: 0.875rem;
}
@media (min-width: 768px) {
  .contvuelo__body_text--text {
    font-size: 0.938rem;
  }
}

.tvuelo__borders--colormain {
  border-top: solid 1px #FF0000 !important;
}
.tvuelo__borders--colorgreen {
  border-top: solid 1px #03A691 !important;
}
.tvuelo__text--body {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .tvuelo__text--body {
    font-size: 0.75rem;
  }
}
.tvuelo__text--precios {
  font-size: 0.85rem;
}
.tvuelo__text--footer {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .tvuelo__text--footer {
    font-size: 1rem;
  }
}
.tvuelo__text--aggequipaje-icon {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .tvuelo__text--aggequipaje-icon {
    font-size: 1.25rem;
  }
}
.tvuelo__text--aggequipaje {
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .tvuelo__text--aggequipaje {
    font-size: 1.25rem;
  }
}

/* posicion del btn de vuelo */
.posicion__btn--vuelo {
  position: static;
}
@media (min-width: 1200px) {
  .posicion__btn--vuelo {
    position: absolute;
  }
}

.font__modal--text-header {
  font-size: 0.8rem;
}
@media (min-width: 900px) {
  .font__modal--text-header {
    font-size: 0.875rem;
  }
}
.font__modal--title {
  font-size: 1.188rem;
}
@media (min-width: 992px) {
  .font__modal--title {
    font-size: 1.5rem;
  }
}
.font__modal--titleSmall {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .font__modal--titleSmall {
    font-size: 0.875rem;
  }
}
.font__modal--text-small {
  font-size: 0.688rem;
}
.font__modal--text-normal {
  font-size: 0.75rem;
}
@media (min-width: 900px) {
  .font__modal--text-normal {
    font-size: 0.875rem;
  }
}
.font__modal--text-big {
  font-size: 1.875rem;
}

.barra_pading {
  padding-bottom: 0rem;
  padding-top: 0.1rem;
}

.inputfoucus:focus {
  border-color: #86b7fe;
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
  border: #ff0000 solid 1px;
}

.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}

/* Cambia el color del input range en Bootstrap */
input[type=range]::-webkit-slider-thumb {
  background-color: #ff0000;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: #ff0000;
}

/* Cambia el color del swiper del modal de opciones */
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px)) !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: hsl(0, 100%, 50%) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

.scroll {
  height: 100%;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: trasparent;
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%23212529"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"fill="%230a58ca"%3e%3cpathfill-rule="evenodd"d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/%3e%3c/svg%3e
  );
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--bs-accordion-btn-focus-border-color);
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.formulario__font--title {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .formulario__font--title {
    font-size: 1.25rem;
  }
}
.formulario__font--textSmall {
  font-size: 0.8rem;
}
.formulario__font--body {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .formulario__font--body {
    font-size: 1rem;
  }
}
.formulario__font--icon {
  font-size: 1.125rem;
}
@media (min-width: 992px) {
  .formulario__font--icon {
    font-size: 1.25rem;
  }
}
.formulario__font--collapse {
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .formulario__font--collapse {
    font-size: 0.875rem;
  }
}
.formulario__font--grande {
  font-size: 2rem;
}

.confirmation__font--footer {
  font-size: 1rem;
}
@media (min-width: 992px) {
  .confirmation__font--footer {
    font-size: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
